* {
  font-family: JetBrainsMono Nerd Font Propo;
  font-weight: bold;
  font-size: 17px;
  color: #D8DEE9;
  background-color: #202325;
}

/* window#waybar>box { */
/*   margin: 2px; */
/* } */

window#waybar {
  background: rgba(41, 46, 56, 0.0);
  /* border: 2px solid #8FBCBB; */
}

tooltip {
  background: #2E3440;
}

#workspaces {
  margin-right: -5px;
}

#workspaces button {
  padding: 0px;
  color: #D8DEE9;
  margin-right: 5px
}

#workspaces button.active {
  border-bottom: 2px solid #FC3516;
  border-radius: 0px;
  margin-top: 2px;
  /* margin-bottom: 2px; */
  /* transition: all 0.3s ease-in-out; */
}

#workspaces button.focused {
  color: #a6adc8;
}

#workspaces button.urgent {
  color: #BF616A;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
}

/* Hide window module when not focused on window or empty workspace */
window#waybar.empty #window {
  padding: 0;
  margin: 0;
  opacity: 0;
}


#workspaces {
  /* padding-left: 10px; */
}

#wireplumber {
  padding-right: 10px;
}

#clock.time {}

#custom-pacman {
  padding-right: 10px;
}

#tray {
  padding-left: 10px;
}

/*
#tray {
  border-radius: 12px 12px 12px 12px;
  margin-right: 6px;
}


#window {
  border-radius: 12px 12px 12px 12px;
}


#cpu {
  border-radius: 12px 0px 0px 12px;
}


#custom-pacman, #custom-kernel {
  border-radius: 0px 12px 12px 0px;
}
*/
